#sort-list
  display flex
  flex-wrap wrap
  padding 30px
  background-color #000
  .col
    background-color #fff
    line-height .8rem
    display flex
    justify-content space-between
    align-items center
    border-radius 1rem
    margin 12px
    padding .4rem 1rem
    min-width 70px

    .cancel
      cursor pointer
      margin-left 15px
  .col-ghost
    background-color red

h2
  width 100%
  margin-right auto
#enabled-fields
  display flex
  flex-wrap wrap
  padding 30px

.select
  background-color red
  padding .3em .8em
  height 1.3rem
  cursor pointer
  color white
  margin 8px

.checked
  background-color green